
###### General parameters ######

[general]
seed = 1234

[train]
max_epoch = 1
batches_per_epoch = 4
train_batch_size = 1000
eval_batch_size = 500
eval_per_batch = True

[file]
ontology = DRLP/ontology/ontologies/CamRestaurants-rules.json

###### Environment parameters ######

[agent]
savefrequency = 200
maxturns = 25

[summaryacts]
informmask = True
requestmask = True
informcountaccepted = 1
maxinformslots = 5

###### Dialogue Manager parameters ######

[policy]
policytype = a2c
learning = True
inpolicyfile = DRLP/model/a2c/a2c
outpolicyfile = DRLP/model/a2c/a2c
useconfreq = False
startwithhello = False

[dqnpolicy]
learning_rate = 0.001
tau = 0.001
h1_size = 130
h2_size = 130
replay_type = vanilla
buffer_size = 1000
batch_size = 32
exploration_type = e-greedy
epsilon = 1.0
epsilon_start = 1.0
importance_sampling = False

###### Evaluation parameters ######

[eval]
successmeasure = objective
penaliseallturns = True
rewardvenuerecommended = 0
wrongvenuepenalty = 0
notmentionedvaluepenalty = 0
successreward = 20
failpenalty = 0
